body {
  text-align: center;
  background-image: url(./background.jpg);
  font-family: Serif;
}

ul {
  width: 50%;
  margin: auto;
}
.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
}
#header {
  color: #000000;
  margin-top: 0%;
}
#header > h1 {
  margin-top: 0%;
  font-size: 300%;
}
li {
  background-color: rgba(248, 249, 250, 0.6);
  text-align: center;
  list-style-type: none;
}
li:nth-child(even) {
  background-color: rgba(224, 224, 224, 0.6);
}
.list-headers {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  margin-right: 34%;
  margin-top: 3%;
}
#add-button,
#sort-button {
  box-shadow: inset 0px 1px 0px 0px #276873;
  background: linear-gradient(to bottom, #b6d5e0 5%, #408c99 100%);
  background-color: #b6d5e0;
  border-radius: 6px;
  border: 1px solid #29668f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
#add-button:hover,
#sort-button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #b6d5e0 100%);
  background-color: #408c99;
}
#add-button:active,
#sort-button:active {
  position: relative;
  top: 1px;
}
.delete-button {
  -moz-box-shadow: inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow: inset 0px 39px 0px -24px #e67a73;
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.delete-button:hover {
  background-color: #eb675e;
}
.delete-button:active {
  position: relative;
  top: 1px;
}
#created-by {
  margin-top: 3%;
}
.check-box {
  width: 16px;
  height: 16px;
}
#dark-mode {
  background: linear-gradient(to bottom, #112917 5%, #656c6e 100%);
  background-color: #112917;
  border-radius: 28px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 12px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-top: 2%;
}
#dark-mode:hover {
  background: linear-gradient(to bottom, #656c6e 5%, #112917 100%);
  background-color: #656c6e;
}
#dark-mode:active {
  position: relative;
  top: 1px;
}
#lds-ring {
  margin: auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
#lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
#lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
#lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.edit-button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.edit-button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.edit-button:active {
	position:relative;
	top:1px;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
